@charset "UTF-8";

.headerIndex__logoHeader {
	width: 7rem;
	height: 6rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
}
.headerIndex__menu {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	list-style: none;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches', cursive;
	margin-left: 8rem;
	.headerIndex__enlacesIndex {
		color: black;
		padding: 0.5rem;
		text-decoration: none;
		margin: 0rem 0.5rem 0rem 0.5rem;
		&:hover {
			background-color: #720004;
			color: white;
			transform: translate(5px, 5px);
		}
	}
}

.redesDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 3rem;
	height: 2rem;
}
.redesDiv__logosRedesFace {
	width: 2rem;
	height: 2rem;
}
.redesDiv__logosRedesInsta {
	width: 3rem;
	height: 2rem;
}

#imgHome1 {
	margin: 0rem;
	width: 160%;
	height: 300px;
	transition: height 2s;
	&:hover {
		height: 305px;
	}
}
#imgHome2 {
	margin: 0rem;
	height: 300px;
	width: 100%;
	transition: height 2s;
	&:hover {
		height: 320px;
	}
}
#carouselExampleIndicators{
	height: 33.8vw;
}

.seccionDescripcindex__textoCentrado {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: black;
    margin-bottom: 1rem;
	margin-top: 2rem;
}

.fieldIndex__textoCentrado2 {
	text-align: center;
	margin-top: 1rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches', cursive;
}

.imagenes1__imgIndex {
	align-content: center;
	width: 9rem;
	height: 7rem;
	
	&:hover {
		transform: scale(1.1, 1.1);
	}
}

.titulos__Index {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches', cursive;
}

.fieldIndex {
	background-image: linear-gradient(to bottom, #720004, black);
	height: 15rem;
	border-style: solid;
	border-color: black;
	border-width: 0.2rem;
}

label {
	color: white;
}
.fieldIndex__textoCentrado3{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches', cursive;
}

#btnBuscar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
#contactoPortada {
	width: 99%;
	height: 300px;
}
.titleContacto {
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches';
	text-align: center;
	margin: 1rem;
}
.iconoContacto {
	width: 2rem;
	height: 2rem;
	margin: 0rem;
	padding: 0rem;
}
#fieldContactos {
	background-image: radial-gradient(#720004, black);
	height: 10rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: stretch;

}

.inputContactos{
	height: 2rem;
}



.textoContacto1 {
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches';
}
.textoContacto2 {
	text-align: start;
	text-transform: uppercase;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches';
}

#tabla1 {
	border: 1px;
	border-collapse: separate;
	border-style: solid;
	list-style-type: upper-latin;
	font-family: 'Libre Baskerville', serif;
	font-family: 'M PLUS 1p', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches', cursive;
	color: black;
}
.letra3 {
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches';
	text-align: center;
}
.letra4 {
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches';
	text-align: center;
}
#mapiña {
	width: 70rem;
	height: 450px;
	border: 0;
}
.letra5 {
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches';
	text-align: center;
}
#seccion1 {
	padding: 0rem;
	max-width: 100%;
	margin-left: 0rem;
}

#sideContacto {
	float: left;
}
#sectionContacto1 {
	width: 18.75rem;
	display: inline;
	flex-direction: column;
	justify-content: flex-start;
}
#tableContacto {
	margin: 0rem 0rem 1rem 15rem;
}
#tableContacto2 {
	text-align: center;
}
.labelFooter {
	color: white;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Staatliches';
	text-align: center;
	margin-top: 2rem;
}
.inputFooter {
	height: 1.5rem;
	width: 15rem;
	margin-top: 2rem;
}
.pFooter {
	color: white;
	font-size: 0.8rem;
	text-align: center;
	margin-left: 3.5rem;
	margin-top: 1rem;
}
.pFooter2 {
	color: white;
	font-size: 1rem;
}
footer {
	background-image: linear-gradient(to bottom, #720004, black);
	margin-top: 1rem;
	padding: 0rem;
	border: 0.3rem;
	border-color: black;
	border-style: solid;
	justify-content: stretch;
}


.pOpciones {
	font-size: 2rem;
	&:hover {
		color: #720004;
	}
}
.pOpciones2 {
	font-size: 2rem;
	margin-left: 1rem;
	&:hover {
		color: #720004;
	}
}
#titulosIndex1{
	margin-left: 0.5rem;
}

.labelEventos {
	color: black;
}
#portadaEventos {
	width: 80rem;
	height: 20rem;
}
.h2Eventos {
	text-align: center;
}
.pEventos {
	text-align: center;
}

#butPresup {
	margin-top: 2rem;
}

.titulosProductos {
	font-family: 'Lato', sans-serif;
	color: white;
	margin: 3rem;
	background-color: #720004;
	border: 0.5rem;
	border-color: black;
	border-style: solid;
	text-align: center;
	align-content: center;
}
.imgProductos {
	height: 15rem;
	&:hover {
		transform: translate(3px, 5px);
	}
}
.subtitulosProductos {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 2rem;
	&:hover {
		color: #720004;
	}

}

.selectEventos{
	width: 40rem;
	height: 2rem;
}


@media (max-width:768px ){
	#contenedor1{
		display: none;
	}

	.fieldIndex__textoCentrado2{
		font-size: 1rem;
	}

	#contenedor3{
		display: none;
	}

	#footerIndex{
		display: grid;
		grid-template-areas: 
		"pFooter2" "labelFooter" "inputFooter"
	}
	

	.pFooter2{
		font-size: 0.7rem;
	}

	.pFooter{
		display: none;
	}
	
	.labelFooter{
		font-size: 0.7rem;
	}
	.inputFooter{
		width: 8rem;
	}
	#imgPortadagrid{
		display: none;
	}
	
	#grid1Eventos{
		display: grid;
		grid-template-areas: 
		"nombreEvento"
		"nombreEventos"
		"apeEventos"
		"apellidoEventos";
	}
	.selectEventos{
		width: 9rem;
		height: 2rem;
	}

	#grid2Eventos{
		display: grid;
		grid-template-areas: 
		"numePerson"
		"selectEventos1"
		"tipoEvento"
		"selectTipoevento";
	}

	#contactoPortada{
		display: none;
	}

	#mapitaContactos{
		display: none;
	}
	#seccion1Contactos{
		margin-left: 5rem;
	}
	#seccion2Contactos{
		margin-left: 5rem;
	}
	#seccion3Contactos{
		margin-left: 5rem;
	}

	#fieldContactos{
		display: none;
	}

	.contenedorImgproducto{
		display: none;
	}

	#footerProductos{
		margin-left: 2rem;
	}

}